<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>
                    服务热线：4006-919-222
                </h4>
                <p>
                    周一至周日：9:00-18:00
                </p>
            </div>
            <div class="col-md-6">
                <img src="/images/wechat.jpg" class="app-wechat-img">
            </div>
        </div>
    </div>
</footer>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 copy-right">
            Copyright©2015 玉成科技 版权所有 ICP许可证编号/备案号：皖ICP备12003168-4号
        </div>
    </div>
</div>


<script src="/assets/jQuery/jquery.min.js"></script>
<script src="/assets/Bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/jqPaginator/jqpaginator.min.js"></script>