<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=title%></title>
    <link rel="stylesheet" href="/assets/Bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link rel="stylesheet" href="/stylesheets/aui.css">
    <!-- HTML5 shim 和 Respond.js 是为了让 IE8 支持 HTML5 元素和媒体查询（media queries）功能 -->
    <!-- 警告：通过 file:// 协议（就是直接将 html 页面拖拽到浏览器中）访问页面时 Respond.js 不起作用 -->
    <!--[if lt IE 9]>
    <script src="/assets/html5shiv.min.js"></script>
    <script src="/assets/respond.min.js"></script>
    <![endif]-->
    <style>
        .main {
            border:1px solid #cccccc;

        }
    </style>
</head>
<body>
<!--头部 导航-->
<% include header.html %>

<div class="container">
    <div class="row">
        <div class="btn-group" role="group">
            <% for(var i=0;i< models.length;i++){ %>
            <button type="button" class="btn btn-default"><%= models[i].name %></button>
            <% } %>
        </div>
    </div>
    <div class="row">
        <div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <% for(var i=0;i< keys.length;i++){ %>
                <li role="presentation"><a href="#key_<%= keys[i] %>" role="tab" data-toggle="tab"><%= keys[i] %></a></li>
                <% } %>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <% for(var i=0;i< brands.length;i++){ %>
                <div role="tabpanel" class="tab-pane" id="key_<%= brands[i].key %>">
                    <div class="btn-group" role="group">
                        <% for(var j=0;j< brands[i].children.length;j++){ %>
                        <button type="button" class="btn btn-default" data-brand="<%= brands[i].children[j].name %>"><%=
                            brands[i].children[j].name %>
                        </button>
                        <% } %>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
<div class="container">




    <div id="seriesList">

    </div>

    <div class="container">
        <div class="row" id="carList">

        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination" id="pageul">

            </ul>
        </nav>
    </div>
</div>

<!--底部-->
<% include footer.html %>


<script id="series" type="text/html">
    <div class="btn-group" role="group">
        {{each list}}
        <button type="button" class="btn btn-default">{{$value.name}}</button>
        {{/each}}
    </div>
</script>

<script id="cars" type="text/html">
    {{each list}}
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="/images/noPic.gif" alt="..." width="150px">
            <div class="caption">
                <h3>{{$value.brand}} &nbsp;&nbsp; {{$value.series}}</h3>
                <p>{{$value.model}} &nbsp;&nbsp; {{$value.FUEL_NAME}}</p>
                <p>{{$value.MADE_YEAR}} &nbsp;&nbsp; {{$value.COLOR}}</p>
            </div>
        </div>
    </div>
    {{/each}}
</script>

<script src="/assets/jQuery/jquery.min.js"></script>
<script src="/assets/template-web.js"></script>
<script src="/assets/Bootstrap/js/bootstrap.min.js"></script>
<script src="/assets/jqPaginator/jqpaginator.min.js"></script>

<script>

    $(function ($) {
        $(".tab-content").on("click", '.btn', function () {
            var brand = $(this).attr('data-brand');
            if (brand) {
                $.get("/getSeries/" + brand, function (data) {
                        //console.log("Data Saved: " + data);
                        data = JSON.parse(data);
                        var html = template('series', {list: data});
                        $('#seriesList').html(html);
                    }
                );
            }
        });

        $.get('/getTotalPageForCar', function (data) {
            // console.log('-----------total--------' + data)
            data = JSON.parse(data);
            var result = data['total'];
            var pages = Math.ceil(result / 10);
            //分页组件
            $.jqPaginator('#pageul', {
                totalPages: pages,
                visiblePages: 5,
                currentPage: 1,
                first: '<li class="first"><a href="javascript:;">首页</a></li>',
                prev: '<li class="prev"><a href="javascript:;">上一页</a></li>',
                next: '<li class="next"><a href="javascript:;">下一页</a></li>',
                last: '<li class="last"><a href="javascript:;">末页</a></li>',
                page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
                onPageChange: function (num, type) {
                    // console.log('page------------------' + num);
                    paging(num);
                }
            });
        });

        function paging(page) {
            $.get("/queryAsPage/" + page, function (data) {
                // console.log("=----------------" + data);
                    data = JSON.parse(data);
                    var html = template('cars', data);
                    $('#carList').html(html);
                }
            );
        }
    });
</script>
</body>
</html>